*[ng-click] {
  cursor: pointer;
}
html, body {
  height: 100%;
}
.fill {
  display: block;
  height: 100%;
}
.fill-absolute {
  position: absolute;
  top:0;
  bottom: 0;
  left: 15px;
  right: 15px;
  overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .col-md-h40 {
    height: 40%;
  }
  .col-md-h60 {
    height: 60%;
  }
}
a[href="https://github.com/simon04/locator-tool"] {
  background: url(../node_modules/octicons/build/svg/mark-github.svg);
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.list-group-files .list-group-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

span.glyphicon + span::before {
  content: ' ';
}