<div ll-map ll-init="$ctrl.mapInit" class="fill"
     ll-click="$ctrl.mapClick($event)"
     ll-baselayerchange="$ctrl.mapLayerChange($event)">
  <ll-view ll-view="$ctrl.mapView"></ll-view>
  <ll-marker ll-lat-lng="$ctrl.mapMarker" ll-marker="{draggable: true}" ng-if="$ctrl.mapMarker.lat"></ll-marker>
  <ll-marker ll-lat-lng="$ctrl.mapObjectLocation" ng-if="$ctrl.mapObjectLocation.lat">
    <ll-div-icon><div title="Object location">
      <span class="glyphicon glyphicon-asterisk" style="color: red"></span>
    </div></ll-div-icon>
  </ll-marker>
</div>
