---
  extends:
    - eslint:recommended
    - google
    - prettier
  rules:
    require-jsdoc: 'off'
    max-len:
    - 'error'
    - 100
    -
      tabWidth: 2
      ignoreRegExpLiterals: true
    no-unused-vars: 'off'
    no-var: 'error'
    prefer-const: 'error'
    comma-dangle: 'off'
    no-use-before-define: ['error', 'nofunc']
  parser: 'typescript-eslint-parser'
  parserOptions:
    ecmaVersion: 6
    sourceType: 'module'
    ecmaFeatures:
      modules: true
