<h2>
  {{$ctrl.title.file}}
  <a href="{{$ctrl.title.url}}" target="_blank">
    <span class="glyphicon glyphicon-new-window"></span>
  </a>
</h2>
<blockquote>{{$ctrl.title.description}}</blockquote>

<dl class="dl-horizontal">
  <dt ng-if="$ctrl.title.coordinates.lat">Existing coordinates</dt>
  <dd ng-if="$ctrl.title.coordinates.lat">
    <code>{{$ctrl.title.coordinates.lat}}, {{$ctrl.title.coordinates.lng}}</code>
  </dd>
  <dt ng-if="$ctrl.mapMarker.lat">New coordinates</dt>
  <dd ng-if="$ctrl.mapMarker.lat">
    <code>{{$ctrl.mapMarker.lat}}, {{$ctrl.mapMarker.lng}}</code>
  </dd>
</dl>

<div ll-map="$ctrl.mapOptions" style="height: 400px" ll-click="$ctrl.mapClick($event)">
  <ll-view ll-view="$ctrl.mapView"></ll-view>
  <ll-marker ll-lat-lng="$ctrl.mapMarker" ll-marker="{draggable: true}" ng-if="$ctrl.mapMarker.lat">
</div>

<img class="img-responsive thumbnail" ng-src="{{$ctrl.title.imageinfo[0].thumburl}}">
