Flask==0.10.1
Flask-OAuthlib==0.9.4
Flask-SeaSurf==0.2.2
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.9
argparse==1.2.1
flask-mwoauth==0.2.46
future==0.15.2
itsdangerous==0.24
oauthlib==1.1.2
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0
talisman==0.1.0
pymysql==1.1.1
