<div
  ll-map=""
  ll-init="$ctrl.mapInit"
  style="
    height: 100%;
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
  "
>
  <ll-view ll-view="$ctrl.mapView"></ll-view>
  <ll-fit-bounds ll-bounds="$ctrl.bounds"></ll-fit-bounds>
  <ll-marker
    ng-repeat="title in $ctrl.titles"
    ng-if="title.coordinates.lat"
    ll-lat-lng="title.coordinates"
    ll-popupopen="title._popup = 1"
    ll-marker="{title: title.file}"
  >
    <ll-popup>
      <div style="width: 300px">
        <p><a href="{{title.url}}" target="_blank">{{title.file}}</a></p>
        <img ng-if="title._popup" ng-src="{{::title.imageUrl(300)}}" style="width: 100%" />
      </div>
    </ll-popup>
  </ll-marker>
</div>
