h2(ng-hide='$ctrl.userInfo', translate) Sign in
p(ng-hide='$ctrl.userInfo')
  span(translate) In order to allow locator-tool to modify file description pages, sign in first:
  a.btn.btn-success.navbar-btn.ml-2(href='/locator-tool/login?next=/locator-tool/')
    svg.octicon
      use(xlink:href='#sign-in')
    span(translate) Log in

p(ng-show='$ctrl.userInfo', translate) Hello {{$ctrl.userInfo}}!

h2(translate) Select files to geolocate

ul.nav.nav-pills.my-3
  li.nav-item
    a.nav-link(translate, ng-click='$ctrl.$tab = $ctrl.$tabs.CATEGORY', ng-class='{active: $ctrl.$tab === $ctrl.$tabs.CATEGORY}')
      | Category
  li.nav-item
    a.nav-link(translate, ng-click='$ctrl.$tab = $ctrl.$tabs.USER', ng-class='{active: $ctrl.$tab === $ctrl.$tabs.USER}')
      | User files
  li.nav-item
    a.nav-link(translate, ng-click='$ctrl.$tab = $ctrl.$tabs.FILES', ng-class='{active: $ctrl.$tab === $ctrl.$tabs.FILES}')
      | File list

form(name='formUser', ng-submit='$ctrl.nextForUser()', ng-show='$ctrl.$tab === $ctrl.$tabs.USER')
  .form-group
    label(for='inputUser', translate) User
    input#inputUser.form-control(ng-model='$ctrl.user', placeholder='User:…')
  .row
    .form-group.col-sm-4
      label(for='inputUserLimit', translate, translate-comment='maximum number of files') Limit
      input#inputUserLimit.form-control(ng-model='$ctrl.userLimit', type='number')
    .form-group.col-sm-4
      label(for='inputUserStart', translate) Start timestamp
      input#inputUserStart.form-control(ng-model='$ctrl.userStart', type='date')
    .form-group.col-sm-4
      label(for='inputUserEnd', translate) End timestamp
      input#inputUserEnd.form-control(ng-model='$ctrl.userEnd', type='date')
  .form-group.btn-group
    button.btn.btn-success(ng-click='$ctrl.nextForUser()', ng-disabled='!$ctrl.user')
      svg.octicon
        use(xlink:href='#location')
      span(translate) Load User files to geolocate
    button.btn.btn-secondary(ng-click="$ctrl.nextForUser('map')", ng-disabled='!$ctrl.user')
      svg.octicon
        use(xlink:href='#globe')
      span(translate) Show User files on map
    input.invisible(type='submit', ng-disabled='!$ctrl.user')
  lt-spinner(ng-if='$ctrl.getFilesForUser$q && !$ctrl.getFilesForUser$q.$$state.status')

form(name='formCategory', ng-submit='$ctrl.nextForCategory()', ng-show='$ctrl.$tab === $ctrl.$tabs.CATEGORY')
  .row
    .form-group.col-lg-10
      label(for='inputCategory', translate) Category
      input#inputCategory.form-control(list='datalistCategory', ng-model='$ctrl.category', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, change: 0, blur: 0}}", ng-change='$ctrl.getCategoriesForPrefix()', placeholder='Category:…')
    .form-group.col-lg-2
      label(for='inputCategoryDepth', translate-comment='Depth of category tree', translate-context='Category', translate) Depth
      input#inputCategoryDepth.form-control(type='number', ng-model='$ctrl.categoryDepth')
  .form-group.btn-group
    button.btn.btn-success(ng-click='$ctrl.nextForCategory()', ng-disabled='!$ctrl.category')
      svg.octicon
        use(xlink:href='#location')
      span(translate) Load Category to geolocate
    button.btn.btn-secondary(ng-click="$ctrl.nextForCategory('map')", ng-disabled='!$ctrl.category')
      svg.octicon
        use(xlink:href='#globe')
      span(translate) Show Category on map
    input.invisible(type='submit', ng-disabled='!$ctrl.category')
  lt-spinner(ng-if='$ctrl.getFilesForCategory$q && !$ctrl.getFilesForCategory$q.$$state.status')
  datalist#datalistCategory
    option(ng-repeat='i in $ctrl.categorySuggestions', ng-value='i')

form(name='formTitles', ng-show='$ctrl.$tab === $ctrl.$tabs.FILES')
  .form-group
    label(for='inputTitles', translate) File list
    textarea#inputTitles.form-control(rows='10', ng-model='$ctrl.titles', placeholder='File:…', ng-paste='$ctrl.onFilesPaste($event)')
    p.form-text(translate) When a clipboard content containing HTML code (for instance a copied selection from a Commons gallery) is pasted here, locator-tool tries to extract <code>File:</code>s from the code.
  .form-group.btn-group
    button.btn.btn-success(ng-disabled='!$ctrl.titleList.length', ng-click='$ctrl.next()')
      svg.octicon
        use(xlink:href='#location')
      span(translate) Load {{$ctrl.titleList.length}} files to geolocate
    button.btn.btn-secondary(ng-disabled='!$ctrl.titleList.length', ng-click="$ctrl.next('map')")
      svg.octicon
        use(xlink:href='#location')
      span(translate) Show {{$ctrl.titleList.length}} files on map
