<div ng-hide="$ctrl.description === false" ng-bind-html="$ctrl.file.description"></div>
<div class="small" ng-if="$ctrl.file.timestamp">
  <svg class="octicon">
    <use xlink:href="#calendar"></use>
  </svg>

  <time ng-bind-html="$ctrl.file.timestamp"></time>
</div>
<div class="small" ng-if="$ctrl.file.author">
  <svg class="octicon">
    <use xlink:href="#person"></use>
  </svg>

  <span ng-bind-html="$ctrl.file.author"></span>
</div>
<a
  class="text-decoration-none"
  ng-repeat="category in $ctrl.file.categories"
  ng-href="https://commons.wikimedia.org/wiki/Category:{{category}}"
  target="_blank"
>
  <span class="badge bg-secondary me-1 text-truncate" style="max-width: 100%">{{::category}}</span>
</a>
