<img
  class="img-fluid img-thumbnail"
  ng-src="{{$ctrl.lazyUrl}}"
  lazy-img="{{$ctrl.thumbnailUrl}}"
  style="max-height: 100%; cursor: zoom-in; width: 100%"
  ng-click="$ctrl.dialogShown = true"
  ng-animate-swap="$ctrl.thumbnailUrl"
/>
<div
  class="modal"
  style="display: block; cursor: zoom-out; background: rgba(0, 0, 0, 0.5)"
  ng-if="$ctrl.dialogShown"
  ng-click="$ctrl.dialogShown = false"
>
  <div class="modal-dialog" style="max-width: 90%; max-height: 90%; overflow-y: scroll">
    <div class="modal-content">
      <div class="modal-body">
        <img
          class="img-fluid"
          ng-src="{{$ctrl.thumbnailUrl}}"
          lazy-img="{{$ctrl.imageUrl}}"
          style="margin: auto; width: 100%"
        />
      </div>
    </div>
  </div>
</div>
