<div class="card">
  <h3 class="card-header p-2">
    {{$ctrl.file.file}}
    <small ng-if="$ctrl.file.url">
      <a href="{{$ctrl.file.url}}" target="_blank">
        <svg class="octicon">
          <use xlink:href="#link-external"></use>
        </svg>
      </a>
    </small>
  </h3>
  <div class="card-body p-2">
    <div ng-bind-html="$ctrl.file.description"></div>
    <div class="small" ng-if="$ctrl.file.timestamp">
      <svg class="octicon">
        <use xlink:href="#calendar"></use>
      </svg>

      <time>{{$ctrl.file.timestamp}}</time>
    </div>
    <div class="small" ng-if="$ctrl.file.author">
      <svg class="octicon">
        <use xlink:href="#person"></use>
      </svg>

      <span ng-bind-html="$ctrl.file.author"></span>
    </div>
    <a
      ng-repeat="category in $ctrl.file.categories"
      ng-href="https://commons.wikimedia.org/wiki/Category:{{category}}"
      target="_blank"
    >
      <span class="badge bg-secondary me-1">{{::category}}</span>
    </a>
  </div>
</div>
<div class="card mt-2">
  <div class="card-body p-2">
    <div>
      <label>
        <svg class="octicon">
          <use xlink:href="#device-camera"></use>
        </svg>
        <!-- prettier-ignore -->
        <span translate="translate">
          Camera location via
<a href="https://commons.wikimedia.org/wiki/Template:Location" target="_blank"><code class="mediawiki-template">Location</code></a></span>
        <abbr title="{{'Left click on map to set the location.' | translate}}">
          <svg class="octicon"><use xlink:href="#question"></use></svg>
        </abbr>
      </label>
      <lt-location-input
        lat-lng="$ctrl.file.coordinates"
        edit-location="$ctrl.editLocation($ctrl.file.coordinates)"
      ></lt-location-input>
    </div>
  </div>
</div>
<div class="card mt-2">
  <div class="card-body p-2">
    <div>
      <label>
        <svg class="octicon">
          <use xlink:href="#squirrel"></use>
        </svg>
        <!-- prettier-ignore -->
        <span translate="translate">
          Object location via
<a href="https://commons.wikimedia.org/wiki/Template:Object_location" target="_blank"><code class="mediawiki-template">Object location</code></a></span>
        <abbr title="{{'Press shift and click on map to set the object location.' | translate}}">
          <svg class="octicon"><use xlink:href="#question"></use></svg>
        </abbr>
      </label>
      <lt-location-input
        lat-lng="$ctrl.file.objectLocation"
        edit-location="$ctrl.editLocation($ctrl.file.objectLocation)"
      ></lt-location-input>
    </div>
  </div>
</div>
<div class="alert alert-danger" ng-if="$ctrl.error">
  <svg class="octicon">
    <use xlink:href="#alert"></use>
  </svg>
  <span translate="translate">Failed to save: {{$ctrl.error.statusText}}</span>
</div>
