<div class="row fill" ng-if="$ctrl.isLoading">
  <div class="col-sm-12">
    <div class="jumbotron">
      <p translate="translate">Loading file details …</p>
      <lt-spinner></lt-spinner>
    </div>
  </div>
</div>
<div class="row fill" ng-if="!$ctrl.isLoading &amp;&amp; !$ctrl.titles.length">
  <div class="col-sm-12">
    <div class="alert alert-warning">
      <svg class="octicon">
        <use xlink:href="#alert"></use>
      </svg>
      <!-- prettier-ignore -->
      <span ng-if="$ctrl.category" translate="translate">Fetched 0 files for category <code>{{$ctrl.category}}</code>!</span>
      <!-- prettier-ignore -->
      <span ng-if="$ctrl.user" translate="translate">Fetched 0 files for user <code>{{$ctrl.user}}</code>!</span>
    </div>
  </div>
</div>
<div class="row fill" ng-if="!$ctrl.isLoading &amp;&amp; $ctrl.titles.length">
  <div class="col-lg-3 col-xl-2 fill col-lg-h40" style="position: relative">
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        ng-style="{width: $ctrl.titlesDefinedAndSavedPercent + '%'}"
      >
        {{$ctrl.titlesDefinedAndSaved.length}} / {{$ctrl.titles.length}}
      </div>
    </div>
    <div class="form-group my-2">
      <div class="checkbox">
        <label>
          <input ng-model="$ctrl.showGeolocated" type="checkbox" />
          <span translate="translate">Also show geolocated files</span>
        </label>
      </div>
    </div>
    <div class="input-group my-2">
      <div class="input-group-text">
        <svg class="octicon">
          <use xlink:href="#search"></use>
        </svg>
      </div>
      <input class="form-control" ng-model="$ctrl.filter" type="text" />
    </div>
    <div
      class="fill-absolute"
      style="top: 135px"
      tabindex="1"
      ng-keydown="$ctrl.keyPressedInList($event)"
    >
      <ul class="list-group">
        <li
          class="list-group-item py-1 px-2"
          style="line-break: loose"
          ng-repeat="title in $ctrl.filteredTitles"
          ng-click="$ctrl.title = title"
          ng-class="{'list-group-item-info': title === $ctrl.title}"
        >
          <abbr ng-if="title.coordinates.isDefinedAndSaved" title="Location ✔">
            <svg class="octicon">
              <use xlink:href="#device-camera"></use>
            </svg>
          </abbr>
          <abbr ng-if="title.objectLocation.isDefinedAndSaved" title="Object location ✔">
            <svg class="octicon">
              <use xlink:href="#squirrel"></use>
            </svg>
          </abbr>
          <span>{{title.file}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-xl-3 fill col-lg-h40" ng-if="$ctrl.title" style="overflow-y: auto">
    <div class="row">
      <div class="col-lg-5 col-xl-12">
        <lt-file-details file="$ctrl.title"></lt-file-details>
      </div>
      <div class="col-lg-7 col-xl-12">
        <lt-file-thumbnail file="$ctrl.title"></lt-file-thumbnail>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-7 fill col-lg-h60" ng-if="$ctrl.title">
    <lt-map
      class="fill"
      map-view="$ctrl.mapView"
      map-marker="$ctrl.title.coordinates"
      map-object-location="$ctrl.title.objectLocation"
    ></lt-map>
  </div>
</div>
