<nav class="navbar navbar-light navbar-expand-md" style="margin-bottom: 17px; background-color: #f7f7f7;">
  <div class="navbar-header"><a class="navbar-brand" ui-sref="select"><img src="locator-tool.svg" style="height: 30px;"/></a><a class="navbar-brand" ui-sref="select"><span translate="translate">locator-tool</span></a></div>
  <ul class="navbar-nav">
    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="select($ctrl.params)" title="{{'Select files to geolocate' | translate}}">
        <svg class="octicon">
          <use xlink:href="#tasklist"></use>
        </svg><span translate="translate">Select files</span></a></li>
    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ng-show="$ctrl.activateLinks" ui-sref="geolocate($ctrl.params)">
        <svg class="octicon">
          <use xlink:href="#location"></use>
        </svg><span translate="translate">Geolocate files</span></a></li>
    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ng-show="$ctrl.activateLinks" ui-sref="map($ctrl.params)">
        <svg class="octicon">
          <use xlink:href="#globe"></use>
        </svg><span translate="translate">Map</span></a></li>
    <li class="nav-item" ui-sref-active="active" title="{{'About locator-tool' | translate}}"><a class="nav-link" ui-sref="about"><span translate="translate">About</span></a></li>
  </ul>
  <div class="mr-auto"></div>
  <lt-language-selector class="ml-2"></lt-language-selector>
  <lt-user-info></lt-user-info>
</nav>
