form.form-group(name='formUser', ng-submit='$ctrl.nextForUser()')
  label(for='inputUser', translate) User
  input#inputUser.form-control(ng-model='$ctrl.user', placeholder='User:…')
  input.hidden(type='submit', ng-disabled='!$ctrl.user')
  button.btn.btn-primary(ng-click='$ctrl.nextForUser()', ng-disabled='!$ctrl.user')
    span.glyphicon.glyphicon-map-marker
    span(translate) Geolocate User files
  button.btn.btn-default(ng-click='$ctrl.getFilesForUser()', ng-disabled='!$ctrl.user')
    span.glyphicon.glyphicon-circle-arrow-down
    span(translate) Fetch files for User
  button.btn.btn-default(ng-click="$ctrl.nextForUser('map')", ng-disabled='!$ctrl.user')
    span.glyphicon.glyphicon-globe
    span(translate) Show User files on map
  lt-spinner(ng-if='$ctrl.getFilesForUser$q && !$ctrl.getFilesForUser$q.$$state.status', style='display: inline-block')

form.form-group(name='formCategory', ng-submit='$ctrl.nextForCategory()')
  .row
    .col-md-10
      label(for='inputCategory', translate) Category
      input#inputCategory.form-control(list='datalistCategory', ng-model='$ctrl.category', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, change: 0, blur: 0}}", ng-change='$ctrl.getCategoriesForPrefix()', placeholder='Category:…')
    .col-md-2
      label(for='inputCategoryDepth', translate-comment='Depth of category tree', translate-context='Category', translate) Depth
      input#inputCategoryDepth.form-control(type='number', ng-model='$ctrl.categoryDepth')
  input.hidden(type='submit', ng-disabled='!$ctrl.category')
  button.btn.btn-primary(ng-click='$ctrl.nextForCategory()', ng-disabled='!$ctrl.category')
    span.glyphicon.glyphicon-map-marker
    span(translate) Geolocate Category
  button.btn.btn-default(ng-click='$ctrl.getFilesForCategory()', ng-disabled='!$ctrl.category')
    span.glyphicon.glyphicon-circle-arrow-down
    span(translate) Fetch files for Category
  button.btn.btn-default(ng-click="$ctrl.nextForCategory('map')", ng-disabled='!$ctrl.category')
    span.glyphicon.glyphicon-globe
    span(translate) Show Category on map
  lt-spinner(ng-if='$ctrl.getFilesForCategory$q && !$ctrl.getFilesForCategory$q.$$state.status', style='display: inline-block')
  datalist#datalistCategory
    option(ng-repeat='i in $ctrl.categorySuggestions', ng-value='i')

form.form-group(name='formTitles')
  label(for='inputTitles', translate) Files
  textarea#inputTitles.form-control(rows='10', ng-model='$ctrl.titles', placeholder='File:…')
  button.btn.btn-primary(ng-disabled='!$ctrl.titleList.length', ng-click='$ctrl.next()')
    span.glyphicon.glyphicon-map-marker
    span(translate) Geolocate {{$ctrl.titleList.length}} files
  button.btn.btn-default(ng-disabled='!$ctrl.titleList.length', ng-click="$ctrl.next('map')")
    span.glyphicon.glyphicon-map-marker
    span(translate) Show {{$ctrl.titleList.length}} files on map
