form(name='formUser', ng-submit='$ctrl.nextForUser()')
  .form-group
    label(for='inputUser', translate) User
    input#inputUser.form-control(ng-model='$ctrl.user', placeholder='User:…')
  .form-group.btn-group
    button.btn.btn-primary(ng-click='$ctrl.nextForUser()', ng-disabled='!$ctrl.user')
      svg.octicon
        use(xlink:href='#location')
      span(translate) Geolocate User files
    button.btn.btn-secondary(ng-click="$ctrl.nextForUser('map')", ng-disabled='!$ctrl.user')
      svg.octicon
        use(xlink:href='#globe')
      span(translate) Show User files on map
    input.invisible(type='submit', ng-disabled='!$ctrl.user')
  lt-spinner(ng-if='$ctrl.getFilesForUser$q && !$ctrl.getFilesForUser$q.$$state.status')

form(name='formCategory', ng-submit='$ctrl.nextForCategory()')
  .form-group.row
    .col-lg-10
      label(for='inputCategory', translate) Category
      input#inputCategory.form-control(list='datalistCategory', ng-model='$ctrl.category', ng-model-options="{updateOn: 'default blur', debounce: {default: 500, change: 0, blur: 0}}", ng-change='$ctrl.getCategoriesForPrefix()', placeholder='Category:…')
    .col-lg-2
      label(for='inputCategoryDepth', translate-comment='Depth of category tree', translate-context='Category', translate) Depth
      input#inputCategoryDepth.form-control(type='number', ng-model='$ctrl.categoryDepth')
  .form-group.btn-group
    button.btn.btn-primary(ng-click='$ctrl.nextForCategory()', ng-disabled='!$ctrl.category')
      svg.octicon
        use(xlink:href='#location')
      span(translate) Geolocate Category
    button.btn.btn-secondary(ng-click="$ctrl.nextForCategory('map')", ng-disabled='!$ctrl.category')
      svg.octicon
        use(xlink:href='#globe')
      span(translate) Show Category on map
    input.invisible(type='submit', ng-disabled='!$ctrl.category')
  lt-spinner(ng-if='$ctrl.getFilesForCategory$q && !$ctrl.getFilesForCategory$q.$$state.status')
  datalist#datalistCategory
    option(ng-repeat='i in $ctrl.categorySuggestions', ng-value='i')

form(name='formTitles')
  .form-group
    label(for='inputTitles', translate) Files
    textarea#inputTitles.form-control(rows='10', ng-model='$ctrl.titles', placeholder='File:…')
  .form-group.btn-group
    button.btn.btn-primary(ng-disabled='!$ctrl.titleList.length', ng-click='$ctrl.next()')
      svg.octicon
        use(xlink:href='#location')
      span(translate) Geolocate {{$ctrl.titleList.length}} files
    button.btn.btn-secondary(ng-disabled='!$ctrl.titleList.length', ng-click="$ctrl.next('map')")
      svg.octicon
        use(xlink:href='#location')
      span(translate) Show {{$ctrl.titleList.length}} files on map
