<form class="form-group form-inline" name="formUser" ng-submit="$ctrl.getFilesForUser()">
  <label for="inputUser" translate>User</label>
  <input id="inputUser" class="form-control" ng-model="$ctrl.user" placeholder="User:…" style="width:24em">
  <input type="submit" ng-disabled="!$ctrl.user" class="btn btn-default" value="{{'Fetch files for User' | translate}}">
  <lt-spinner ng-if="$ctrl.getFilesForUser$q && !$ctrl.getFilesForUser$q.$$state.status" style="display: inline-block"></lt-spinner>
</form>

<form class="form-group form-inline" name="formCategory" ng-submit="$ctrl.getFilesForCategory()">
  <label for="inputCategory" translate>Category</label>
  <input id="inputCategory" list="datalistCategory" class="form-control" ng-model="$ctrl.category" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0}}" ng-change="$ctrl.getCategoriesForPrefix()" placeholder="Category:…" style="width:24em">
  <input type="submit" ng-disabled="!$ctrl.category" class="btn btn-default" value="{{'Fetch files for Category' | translate}}">
  <lt-spinner ng-if="$ctrl.getFilesForCategory$q && !$ctrl.getFilesForCategory$q.$$state.status" style="display: inline-block"></lt-spinner>
  <datalist id="datalistCategory">
    <option ng-repeat="i in $ctrl.categorySuggestions" ng-value="i"/>
  </datalist>
</form>

<hr>

<form class="form-group" name="formTitles">
  <label for="inputTitles" translate>Files</label>
  <textarea id="inputTitles" class="form-control" rows="10" ng-model="$ctrl.titles" placeholder="File:…"></textarea>
</form>

<button ng-disabled="!$ctrl.titleList.length" ng-click="$ctrl.next()" class="btn btn-default" translate>
  Geolocate {{$ctrl.titleList.length}} files
</button>
