nav.navbar.navbar-light.navbar-expand-md(style='margin-bottom: 17px; background-color: #f7f7f7')
  .navbar-header
    a.navbar-brand(ui-sref='select')
      img(src='../locator-tool.svg', style='height: 30px')
    a.navbar-brand(ui-sref='select')
      span(translate) locator-tool
  ul.navbar-nav
    li.nav-item(ui-sref-active='active')
      a.nav-link(ui-sref='select($ctrl.params)', ng-title='{{"Select files to geolocate" | translate}}')
        svg.octicon
          use(xlink:href='#tasklist')
        span(translate) Select files
    li.nav-item(ui-sref-active='active')
      a.nav-link(ng-show='$ctrl.activateLinks', ui-sref='geolocate($ctrl.params)')
        svg.octicon
          use(xlink:href='#location')
        span(translate) Geolocate files
    li.nav-item(ui-sref-active='active')
      a.nav-link(ng-show='$ctrl.activateLinks', ui-sref='map($ctrl.params)')
        svg.octicon
          use(xlink:href='#globe')
        span(translate) Map
    li.nav-item(ui-sref-active='active', ng-title='{{"About locator-tool" | translate}}')
      a.nav-link(ui-sref='about')
        span(translate) About
  .mr-auto
  lt-language-selector.ml-2
  lt-user-info
