<h2>
  {{$ctrl.title.file}}
  <small><a href="{{$ctrl.title.url}}" target="_blank">
    <span class="glyphicon glyphicon-new-window"></span>
  </a></small>
</h2>
<div ng-bind-html="$ctrl.title.description" class="well well-sm"></div>

<dl class="dl-horizontal">
  <dt ng-if="$ctrl.title.coordinates.lat" translate>Existing coordinates</dt>
  <dd ng-if="$ctrl.title.coordinates.lat">
    <code>{{$ctrl.title.coordinates.lat}}, {{$ctrl.title.coordinates.lng}}</code>
  </dd>
  <dt ng-if="$ctrl.mapMarker.lat" translate>New coordinates</dt>
  <dd ng-if="$ctrl.mapMarker.lat">
    <code>{{$ctrl.mapMarker.lat}}, {{$ctrl.mapMarker.lng}}</code>
  </dd>
</dl>

<div class="form-group form-inline" ng-if="$ctrl.mapMarker.lat">
  <button ng-click="$ctrl.editLocation($ctrl.title)" ng-disabled="$ctrl.title.coordinates.lat === $ctrl.mapMarker.lat && $ctrl.title.coordinates.lng === $ctrl.mapMarker.lng" class="btn btn-default" style="white-space: normal">
    Add <code>
      &#123;&#123;Location
      |
      <span ng-bind="$ctrl.mapMarker.lat"></span>
      |
      <span ng-bind="$ctrl.mapMarker.lng"></span>
      &#125;&#125;
    </code>
  </button>
</div>
