<h2>
  {{$ctrl.title.file}}
  <small><a href="{{$ctrl.title.url}}" target="_blank">
    &#x1f5d4;
  </a></small>
</h2>
<div ng-bind-html="$ctrl.title.description" class="well well-sm"></div>

<dl class="dl-horizontal">
  <dt ng-if="$ctrl.title.coordinates.lat" translate>Existing coordinates</dt>
  <dd ng-if="$ctrl.title.coordinates.lat">
    <code>{{$ctrl.title.coordinates.lat}}, {{$ctrl.title.coordinates.lng}}</code>
  </dd>
  <dt ng-if="$ctrl.mapMarker.lat" translate>New coordinates</dt>
  <dd ng-if="$ctrl.mapMarker.lat">
    <code>{{$ctrl.mapMarker.lat}}, {{$ctrl.mapMarker.lng}}</code>
  </dd>
</dl>

<div class="form-group form-inline" ng-if="$ctrl.mapMarker.lat">
  <button ng-click="$ctrl.editLocation($ctrl.title)" ng-disabled="$ctrl.title.coordinates.lat === $ctrl.mapMarker.lat && $ctrl.title.coordinates.lng === $ctrl.mapMarker.lng" class="btn btn-default" style="white-space: normal" translate>
    Add <lt-location lat-lng="$ctrl.mapMarker"></lt-location>
  </button>
</div>

<div class="alert alert-danger" ng-if="$ctrl.error">
  &#9888;
  <span translate>Failed to save <lt-location></lt-location>!</span>
</div>
