<div class="pure-g fill">
  <div class="pure-u-md-1-4 pure-u-xl-1-6 fill col-md-h40" style="position:relative">
    <form class="pure-form">
      <fieldset>
        <label class="pure-checkbox">
          <input ng-model="$ctrl.showGeolocated" type="checkbox">
          <span translate>Also show geolocated files</span>
        </label>
      </fieldset>
      <input class="pure-input-1" ng-model="$ctrl.filter" type="text" placeholder="&#x1f50d;">
    </form>
    <div class="fill-absolute" style="top: 110px">
    <ul class="pure-menu-list">
      <li ng-repeat="title in $ctrl.titles | filter:$ctrl.filter" ng-show="$ctrl.showGeolocated || !title.coordinates.lat" class="pure-menu-item" ng-class="{'pure-menu-selected': title === $ctrl.title}" style="border-bottom: 1px solid #cbcbcb;">
        <a ng-click="$ctrl.title = title" class="pure-menu-link">
          <span ng-if="title.coordinates.lat">&#x2714;</span>
          {{title.file}}
        </a>
      </li>
    </ul>
    </div>
  </div>

  <div class="pure-u-md-3-4 pure-u-xl-1-4 fill col-md-h40" ng-if="$ctrl.title" style="overflow-y: auto">
    <div class="pure-g">
      <div class="pure-u-md-5-12 pure-u-xl-1-1">
        <ng-include src="'app/list/file.html'"></ng-include>
      </div>
      <div class="pure-u-md-7-12 pure-u-xl-1-1">
        <img class="pure-img" ng-src="{{$ctrl.title.thumbnail}}" style="max-height: 100%">
      </div>
    </div>
  </div>

  <div class="pure-u-1-1 pure-u-xl-7-12 fill col-md-h60" ng-if="$ctrl.title">
    <ng-include src="'app/list/map.html'" class="fill"></ng-include>
  </div>

</div>
