.list-group-item.ng-enter,
.list-group-item.ng-leave {
  transition: 0.3s linear all;
}
.list-group-item.ng-leave.ng-leave-active,
.list-group-item.ng-enter {
  opacity: 0;
  line-height: 0;
}
.list-group-item.ng-enter.ng-enter-active,
.list-group-item.ng-leave {
  opacity: 1;
  line-height: 1.5;
}

img.ng-enter {
  transition: 0.3s linear all;
  opacity: 0;
}
img.ng-enter.ng-enter-active {
  opacity: 1;
}
img.ng-leave {
  display: none;
}
