*[ng-click] {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
.fill {
  height: 100%;
}
.fill-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .col-lg-h40 {
    height: 40%;
  }
  .col-lg-h60 {
    height: 60%;
  }
}
a[href="https://github.com/simon04/locator-tool"]
{
  /* background: url(../node_modules/octicons/build/svg/mark-github.svg); */
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDBDMy41OCAwIDAgMy41OCAwIDhjMCAzLjU0IDIuMjkgNi41MyA1LjQ3IDcuNTkuNC4wNy41NS0uMTcuNTUtLjM4IDAtLjE5LS4wMS0uODItLjAxLTEuNDktMi4wMS4zNy0yLjUzLS40OS0yLjY5LS45NC0uMDktLjIzLS40OC0uOTQtLjgyLTEuMTMtLjI4LS4xNS0uNjgtLjUyLS4wMS0uNTMuNjMtLjAxIDEuMDguNTggMS4yMy44Mi43MiAxLjIxIDEuODcuODcgMi4zMy42Ni4wNy0uNTIuMjgtLjg3LjUxLTEuMDctMS43OC0uMi0zLjY0LS44OS0zLjY0LTMuOTUgMC0uODcuMzEtMS41OS44Mi0yLjE1LS4wOC0uMi0uMzYtMS4wMi4wOC0yLjEyIDAgMCAuNjctLjIxIDIuMi44Mi42NC0uMTggMS4zMi0uMjcgMi0uMjcuNjggMCAxLjM2LjA5IDIgLjI3IDEuNTMtMS4wNCAyLjItLjgyIDIuMi0uODIuNDQgMS4xLjE2IDEuOTIuMDggMi4xMi41MS41Ni44MiAxLjI3LjgyIDIuMTUgMCAzLjA3LTEuODcgMy43NS0zLjY1IDMuOTUuMjkuMjUuNTQuNzMuNTQgMS40OCAwIDEuMDctLjAxIDEuOTMtLjAxIDIuMiAwIC4yMS4xNS40Ni41NS4zOEE4LjAxMyA4LjAxMyAwIDAgMCAxNiA4YzAtNC40Mi0zLjU4LTgtOC04eiIvPjwvc3ZnPg==);
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.octicon {
  width: 1em;
  height: 1em;
}

.octicon + span::before {
  content: ' ';
}

.mediawiki-template::before {
  content: '{{';
}
.mediawiki-template::after {
  content: '}}';
}

.list-group-item.ng-enter,
.list-group-item.ng-leave {
  transition: 0.3s linear all;
}
.list-group-item.ng-leave.ng-leave-active,
.list-group-item.ng-enter {
  opacity: 0;
  line-height: 0;
}
.list-group-item.ng-enter.ng-enter-active,
.list-group-item.ng-leave {
  opacity: 1;
  line-height: 1.5;
}

img.ng-enter {
  transition: 0.3s linear all;
  opacity: 0;
}
img.ng-enter.ng-enter-active {
  opacity: 1;
}
img.ng-leave {
  display: none;
}

label {
  font-weight: bold;
}

.leaflet-control-geocoder-form input {
  color: var(--bs-black);
}

.flex-grow-1 {
  /* https://stackoverflow.com/a/36247448 */
  min-height: 0;
}

lt-all-map {
  display: flex;
  flex-grow: 1;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
}
