h1
  svg.octicon
    use(xlink:href='#location')
  span(translate) locator-tool
p(translate)
  | This tool helps to add <code class="mediawiki-template">Coordinate</code> information to images on <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>.

h2(translate) Usage
ol
  li(translate) Log in using the button on the upper right corner
  li(translate)
    a(ui-sref='select') Select files to geolocate
    |  by querying a category or inputting a list of <code>File:</code>s.
  li(translate)
    | From the list of files provided, select one and click its location on an interactive map.
  li(translate) Repeat …

p
  span(translate) Tutorial
  span(translate)
    | → <a href="https://commons.wikimedia.org/wiki/Commons:Locator-tool">Commons:Locator-tool</a>

h2(translate) About
ul
  li(translate) This tool has been created by <a href="https://github.com/simon04/">simon04</a>.
  li(translate) Its source code is available on <a href="https://github.com/simon04/locator-tool">GitHub</a> and <a href="https://www.gnu.org/licenses/gpl.html">GPL v3</a> licensed.
  li
    svg.octicon
      use(xlink:href='#history')
    span
      a(href='https://commons.wikimedia.org/w/index.php?title=Special:RecentChanges&tagfilter=OAuth+CID%3A+496')
        span(translate) Edits using locator-tool
  li
    svg.octicon
      use(xlink:href='#comment')
    span
      a(href='https://www.transifex.com/locator-tool/locator-tool/')
        span(translate) Translate locator-tool on Transifex
