h1
  span.glyphicon.glyphicon-map-marker
  span(translate) locator-tool
p(translate)
  | This tool helps to add <lt-location></lt-location> information to images on <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>.

h2(translate) Usage
ol
  li(translate) Log in using the button on the upper right corner
  li(translate)
    a(ui-sref='select') Select files to geolocate
    |  by querying a category or inputting a list of <code>File:</code>s.
  li(translate)
    | From the list of files provided, select one and click its location on an interactive map.
  li(translate) Repeat …

h2(translate) Tutorial
p(translate)
  | → <a href="https://commons.wikimedia.org/wiki/Commons:Locator-tool">Commons:Locator-tool</a>

h2(translate) Edits using locator-tool
p
  | → <a href="https://commons.wikimedia.org/w/index.php?title=Special:RecentChanges&tagfilter=OAuth+CID%3A+496">Edits using locator-tool</a>

h2(translate) Translate
p
  | → <a href="https://www.transifex.com/locator-tool/locator-tool/" translate>Translate locator-tool on Transifex</a>

h2(translate) About
p
  span(translate)
    | This tool has been created by <a href="https://github.com/simon04/">simon04</a>.
  span(translate)
    | Its source code is available on <a href="https://github.com/simon04/locator-tool">GitHub</a> and <a href="https://www.gnu.org/licenses/gpl.html">GPL v3</a> licensed.
