<h1>
  <span class="glyphicon glyphicon-map-marker"></span>
  <span translate>locator-tool</span>
</h1>

<p translate>
  This tool helps to add <lt-location></lt-location> information to images on <a href="https://commons.wikimedia.org/">Wikimedia Commons</a>.
</p>

<h2 translate>Usage</h2>
<ol>
  <li translate>Log in using the button on the upper right corner</li>
  <li translate><a ui-sref="select">Select files to geolocate</a> by querying a category or inputting a list of <code>File:</code>s.</li>
  <li translate>From the list of files provided, select one and click its location on an interactive map.</li>
  <li translate>Repeat …</li>
</ol>

<h2 translate>Tutorial</h2>
<p translate>
  → <a href="https://commons.wikimedia.org/wiki/Commons:Locator-tool">Commons:Locator-tool</a>
</p>

<h2 translate>Edits using locator-tool</h2>
<p>
  → <a href="https://commons.wikimedia.org/w/index.php?title=Special:RecentChanges&amp;tagfilter=OAuth+CID%3A+496" translate>Edits using locator-tool</a>
</p>

<h2 translate>Translate</h2>
<p>
  → <a href="https://www.transifex.com/locator-tool/locator-tool/" translate>Translate locator-tool on Transifex</a>
</p>

<h2 translate>About</h2>
<p><span translate>
  This tool has been created by <a href="https://github.com/simon04/">simon04</a>.
</span>
<span translate>
  Its source code is available on <a href="https://github.com/simon04/locator-tool">GitHub</a> and <a href="https://www.gnu.org/licenses/gpl.html">GPL v3</a> licensed.
</span></p>
