<h2>
  {{$ctrl.title.file}}
  <small><a href="{{$ctrl.title.url}}" target="_blank">
    <span class="glyphicon glyphicon-new-window"></span>
  </a></small>
</h2>
<div ng-bind-html="$ctrl.title.description" class="well well-sm"></div>

<div class="form-group">
  <label>
    <lt-location type="{{$ctrl.title.coordinates.type}}"></lt-location>
  </label>
  <lt-location-input lat-lng="$ctrl.title.coordinates" edit-location="$ctrl.editLocation($ctrl.title, $ctrl.title.coordinates)">
  </lt-location-input>
  <p translate class="help-block">Left click on map to set the location.</p>
</div>

<div class="form-group">
  <label>
    <lt-location type="{{$ctrl.title.objectLocation.type}}"></lt-location>
  </label>
  <lt-location-input lat-lng="$ctrl.title.objectLocation" edit-location="$ctrl.editLocation($ctrl.title, $ctrl.title.objectLocation)">
  </lt-location-input>
  <p translate class="help-block">Press shift and click on map to set the object location.</p>
</div>

<div class="alert alert-danger" ng-if="$ctrl.error">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span translate>Failed to save <lt-location></lt-location>!</span>
</div>
