<h2>
  {{$ctrl.title.file}}
  <small><a href="{{$ctrl.title.url}}" target="_blank">
    <span class="glyphicon glyphicon-new-window"></span>
  </a></small>
</h2>
<div ng-bind-html="$ctrl.title.description" class="well well-sm"></div>

<div class="form-group">
  <label>
    <lt-location type="Location"></lt-location>
  </label>
  <div class="input-group">
    <input type="text" class="form-control" ng-value="$ctrl.title.coordinates.csv" readonly="readonly">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"
              ng-click="!$ctrl.title.coordinates.discard()" title="{{'Discard changes'|translate}}">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-success" type="button"
              ng-click="$ctrl.editLocation($ctrl.title)" title="{{'Save location'|translate}}"
              ng-disabled="!$ctrl.title.coordinates.isChanged">
        <span class="glyphicon glyphicon-save"></span>
      </button>
    </span>
  </div>
</div>

<div class="alert alert-danger" ng-if="$ctrl.error">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span translate>Failed to save <lt-location></lt-location>!</span>
</div>
