h2
  | {{$ctrl.title.file}}
  small
    a(href='{{$ctrl.title.url}}', target='_blank')
      span.glyphicon.glyphicon-new-window

.well.well-sm(ng-bind-html='$ctrl.title.description')

.form-group
  label
    lt-location(type='{{$ctrl.title.coordinates.type}}')
  lt-location-input(lat-lng='$ctrl.title.coordinates', edit-location='$ctrl.editLocation($ctrl.title, $ctrl.title.coordinates)')
  p.help-block(translate) Left click on map to set the location.

.form-group
  label
    lt-location(type='{{$ctrl.title.objectLocation.type}}')
  lt-location-input(lat-lng='$ctrl.title.objectLocation', edit-location='$ctrl.editLocation($ctrl.title, $ctrl.title.objectLocation)')
  p.help-block(translate) Press shift and click on map to set the object location.

.alert.alert-danger(ng-if='$ctrl.error')
  span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
  span(translate)
    | Failed to save <lt-location></lt-location>!
