<h2>
  {{$ctrl.title.file}}
  <small><a href="{{$ctrl.title.url}}" target="_blank">
    <span class="glyphicon glyphicon-new-window"></span>
  </a></small>
</h2>
<div ng-bind-html="$ctrl.title.description" class="well well-sm"></div>

<div class="form-group">
  <label>
    <lt-location type="Location"></lt-location>
  </label>
  <lt-location-input lat-lng="$ctrl.title.coordinates" edit-location="$ctrl.editLocation($ctrl.title)">
  </lt-location-input>
</div>

<div class="alert alert-danger" ng-if="$ctrl.error">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span translate>Failed to save <lt-location></lt-location>!</span>
</div>
