img.img-responsive.thumbnail(
  ng-src='{{$ctrl.file.thumbnail}}',
  style='max-height: 100%; cursor: zoom-in',
  ng-click='$ctrl.dialogShown = true'
  ng-animate-swap='$ctrl.file.thumbnail')

.modal(style='display: block', ng-if='$ctrl.dialogShown')
  .modal-dialog(style='width: 90%; max-height: 90%; overflow-y: scroll')
    .modal-content(ng-click='$ctrl.dialogShown = false', style='cursor: zoom-out')
      .modal-body
        img.img-responsive(ng-src='{{$ctrl.fullImageUrl}}', style='margin: auto')
