a.btn.btn-success.navbar-btn(href='/locator-tool/login?next=/locator-tool/', ng-hide='$ctrl.user', translate) Log in
p.navbar-text(ng-show='$ctrl.user', translate) Logged in as {{$ctrl.user}}
a.btn.btn-secondary.navbar-btn(href='/locator-tool/logout?next=/locator-tool/', ng-show='$ctrl.user', translate) Log out
