---
  extends:
    - eslint:recommended
    - google
  rules:
    require-jsdoc: 'off'
    max-len: ['error', 100, 2]
    no-unused-vars: ['error', {args: 'all', argsIgnorePattern: '^_'}]
    no-var: 'error'
    prefer-const: 'error'
    comma-dangle: 'off'
    no-use-before-define: ['error', 'nofunc']
  parserOptions:
    ecmaVersion: 6
    sourceType: 'module'
    ecmaFeatures:
      modules: true
