doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  title locator-tool

lt-navbar

.container-fluid(style='height: calc(100% - 53px - 20px)')
  ui-view.fill
